<h1>Everything Keith Laidlaw</h1>
<p>Coming soon: 
<%= link_to "links", "https://twitter.com/scribacious" %>, 
<%= link_to "links", "http://www.linkedin.com/in/keithlaidlaw" %>, 
<%= link_to "links", "http://www.youtube.com/scribacious" %>, 
</p>
