
$baseFontFamily: 'Open Sans', sans-serif;
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

$linkColor: #FF530D;
$linkColorHover: #7E8AA2;

$headingsColor: #263248;

$navbarBackgroundHighlight: #263248;
$navbarBackground: #263248;
$navbarText: #DFEBFF;
$navbarLinkColor: #DFEBFF;
$navbarBrandColor: #DFEBFF;
$navbarLinkColorHover: #FF530D;


@import 'bootstrap';

body {
	padding-top: 60px;
}

@import 'bootstrap-responsive';

.navbar-inner{
    @include box-shadow(none !important);
    border: 0;
}


.footer {
	margin-top: 50px;
	color: #7E8AA2;
	a {
		color: #263248;
	}
}