<div class="row">
	<div class="span6 offset3">
		<div class="well">
			<p>
			  <%= @site.name %>
			</p>

			<% if current_user == @site.user %>
				<%= link_to 'Edit', edit_site_path(@site) %> |
			<% end %>
				<%= link_to 'Back', sites_path %>
			
		</div>
	</div>
</div>

