<div class="footer">
  <small>
    <p>Created by Keith Laidlaw using <a href="http://rubyonrails.org/">Ruby on Rails</a> and <a href="https://github.com/thomas-mcdonald/bootstrap-sass/tree/3">Bootstrap</a>, and with a little help from <a href="https://onemonthrails.com/">One Month Rails</a></p>
  </small>
</div>